@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fraunces:wght@300;400;500;600;700&family=Montserrat&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #05368B;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #5CDB95;
    font-size: 3vmin;
    z-index: 3;
}

#navbar ul {
    display: flex;
    width: auto;
    justify-content: space-around;
    margin-right: 50px;
}

#navbar h1 {
    margin-left: 50px;
    font-family: 'Fraunces', serif;
    color: #05368B;
}

#navbar ul li {
    padding: 0 10px;
    font-family: 'Anton', serif;
}

#welcome-section {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 100px 10vw;
    background-color: #5CDB95;
    font-family: 'Fraunces', serif;
    color: #05368B;
    font-size: 5vw;
    text-decoration: underline;
}

#hi {
    z-index: 2;
}

#welcome-section #hi h2 {
    text-align: right;
    font-size: 3vw;
    width: 100%;
}

#projects {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 20px 50px 20px;
    background-color: #05368B;
    z-index: 0;
}

.project-tile {
    display: flex;
    padding: 15px;
    margin: 15px;
    width: 400px;
    height: 200px;
    border: 5px solid black;
    background-color: #5CDB95;
    color: #05368B;
    z-index: 2;
}

.project-tile:hover {
    border: 2px solid orange;
    animation-name: project;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes project {
    100% {
        transform: scale(1.01);
    }
}

.project-image {
    width: 150px;
    height: 160px;
    object-fit: cover;
}

.description {
    padding: 0px 20px;
}

.description {
    font-family: 'Fraunces', serif;
}

.project-id {
    margin: 0;
    font-size: 0.8rem;
    background-color: orange;
}

#projects-header {
    position: absolute;
    font-size: 30px;
    top: 20px;
    display: block;
    color: #5CDB95;
    font-family: 'Fraunces', serif;
}

.circle {
    position: absolute;
    display: block;
    top: 20vh;
    left: 10vw;
    max-width: 400px;
    max-height: 100%;
    z-index: 1;
    animation-name: circle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    opacity: 10%;
}

@keyframes circle {
    25% {
        transform: rotate3d(1, 1, 1, 45deg);
    }

    50% {
        transform: rotate3d(2, -1, -1, -0.2turn);
    }   

    75% {
        transform: rotate3d(0, 1, 0.5, 3.142rad);
    }

    100% {
        transform: rotate3d(0);
    }
}


#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    background-color: #EDF5E1;
    font-size: x-large;
    color: black;
}

@media (max-width: 600px) {
    #contact {
        font-size: large;
    }
}